.cookie-banner {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #181818;
  width: 100%;
  padding: 50px;

  &__text {
    color: #F8F8F8;
  }

  &__buttons {
    button {
      display: inline-block;
      width: 148px;
      height: 50px;
      background: #555555;
      font-size: 1rem;
      line-height: 100%;
      color: #FFFFFF;
      cursor: pointer;
      border-radius: 45px;
      border: none;
      -webkit-appearance: none;
      text-decoration: none;
      padding: 17px 25px;
      text-align: center;
      margin-top: 20px;
      margin-right: 20px;

      &:hover {
        color: #333333;
        background: linear-gradient(68deg, #BEB3F5 -0.66%, #E4F2EE 70.67%);
      }
    }

    .button-accept {
      background: #F8F8F8;
      color: #000000;
    }
  }
}
