.offers {
  background: #181818;
  @media screen and (min-width: 1024px) {
    padding: 0 0 170px;
  }

  &__container {
    padding: 0 135px;
    @media screen and (max-width: 1439px) {
      padding: 0 5vw;
    }
    @media screen and (max-width: 1023px) {
      padding: 0 0 48px 4.267vw;
    }
  }

  &__text-block {
    padding: 50px 0;
  }

  &__subtitle-block {
    display: flex;
    align-items: center;
    margin: 0 0 25px;
  }

  &__line {
    width: 70px;
    border: 1px solid #CBCBCB;
    margin-right: 15px;
  }

  &__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #CBCBCB;
    margin: 0;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: #F8F8F8;
    margin: 0 0 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5.208vw;
    @media screen and (max-width: 1023px) {
      overflow-x: scroll!important;
      grid-auto-flow: column;
      grid-gap: 24px;
    }
    @media screen and (min-width: 1440px) {
      grid-gap: 75px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px 5px transparent;
      border-top: solid 3px transparent;
      border-bottom: solid 3px transparent;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 5px 5px #fff;
      border-top: solid 3px transparent;
      border-bottom: solid 3px transparent;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 353px;
    @media screen and (min-width: 1024px) {
      height: 32.153vw;
    }
    @media screen and (max-width: 1023px) {
      width: 269px;
    }
    @media screen and (min-width: 1440px) {
      height: 463px;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      z-index: 1;
      width: fit-content;
      max-width: 100%;
    }
  }

  &__card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #333333;
    margin: 0 0 30px;
    font-size: clamp(16px, 1.667vw, 24px);
  }

  &__background-logo {
    position: absolute;
    bottom: 0;
    left: 0;

    &--top {
      top: -20%;
      left: 0;
    }

    &--bottom {
      bottom: 0;
      left: 0;
    }
  }
}
