.contacts {
  width: 100%;
  height: 35vh;
  background-color: black;
  color: white;
  padding: 20px;
}

.contacts-title {
  text-align: center;
  margin: 0 0 20px;
}

.contacts-text {
  margin: 10px 0;
}

.contacts-content {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
}

.contacts-icon {
  width: 32px;
  transform: translateY(calc(50% - 7px));
  margin: 0 10px;
}

/* media-queries */

@media screen and (max-width: 626px) {
  .contacts-content {
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .contacts-content {
    width: 100%;
  }
}
