* {
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #555555;
}

a {
  transition: 1s;
  text-decoration: none;

  &:hover, &:active {
    color: #4B5BD7;
  }

  &:hover, &:focus, &:focus-visible, &:active {
    transition: 0.5s;
  }
}

button {
  transition: 1s;

  &:hover, &:focus, &:focus-visible, &:active {
    transition: 1s;
  }
}

svg {
  transition: 1s;

  &:hover, &:focus, &:focus-visible, &:active {
    transition: 1s;
  }
}

*:focus-visible {
  outline: 1px solid #333333;
}

button:focus-visible, button:focus, input[type=submit]:focus-visible, input[type=submit]:focus, .process__cta:focus-visible, .process__cta:focus {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px rgb(24 24 24 / 25%);
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content_max_width {
  max-width: 1440px;
  margin: 0 auto;
}

.layout_content {
  padding-top: 85px;
}

.content {
  width: 100%;
  height: 100%;
  
  @media screen and (max-width: 1023px) {
    padding-top: 92px;
  }
}

img {
  object-fit: contain;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.error-page h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

h2,
h1 {
  margin: 20px 30px;
}

input, textarea {
  outline: none;
}

.scroll-disabled {
  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #333333;
}

.tabIndexItem {
  padding: 3px;
}

.privacy_policy-terms_of_use {
  padding: 0 135px 170px;

  @media screen and (max-width: 1439px) {
    padding: 0 5vw 135px;
  }

  @media screen and (max-width: 1023px) {
    padding: 0 4.267vw 80px;
  }

  &__subtitle {
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__title.title {
    margin: 0 0 60px;
  }

  &__text {
    font-size: 1rem;
    line-height: 150%;
    max-width: 1028px;

    &--bold {
      font-weight: 500;
      line-height: 100%;
      color: #333333;
      margin-top: 2.5rem;
    }
  }

  & .richtext_wrapper {

    h1, h2, h3, h4, h5, h6 {
      font-size: 1.5rem;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }
}

.projects {
  padding: 0 135px 170px;

  @media screen and (max-width: 1439px) {
    padding: 0 5vw 135px;
  }

  @media screen and (max-width: 1023px) {
    padding: 0 4.267vw 80px;
  }

  &_title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &_title.title {
    max-width: 465px;
    margin: 0 0 60px;

    @media screen and (max-width: 1023px) {
      font-size: 1.75rem;
      line-height: 107%;
    }
  }

  &_subtitle {
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    @media screen and (max-width: 1023px) {
      font-size: 0.75rem;
      line-height: 100%;
    }
  }

  &_btn, &_load-more-btn {
    font-size: 1rem;
    line-height: 100%;
    color: #FFFFFF;
    width: 190px;
    height: 50px;
    background: #181818;
    border-radius: 45px;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    &:hover {
      color: #333333;
      background: linear-gradient(68deg, #BEB3F5 -0.66%, #E4F2EE 70.67%);
    }
    
    &.mobile {
      display: none;

      @media screen and (max-width: 1023px) {
        display: block;
      }
    }
  }

  &_load-more-btn {
    display: block;
    width: 190px;
    height: 50px;
    border: 1px solid #181818;
    border-radius: 45px;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      color: #333333;
      background: linear-gradient(68deg, #BEB3F5 -0.66%, #E4F2EE 70.67%);
    }
  }

  &_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 89px;
    margin: 0 0 89px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      margin: 0 0 47px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;

    & .gatsby-image-wrapper div {
      height: max(340px, 74.219vw);

      @media screen and (min-width: 769px) {
        height: min(570px, 39.583vw);
      }
      @media screen and (max-width: 374px) {
        height: 90.667vw;
      }
    }
  
    & .gatsby-image-wrapper img {
      width: 100%;
      object-fit: cover;
  
      @media screen and (max-width: 1023px) {
        max-width: inherit;
      }
    }
  
    &__content {
      margin-top: 40px;
      @media screen and (max-width: 374px) {
        margin-top: 25px;
      }
    }
  
    &__subtitle {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 100%;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #333333;
      margin: 0 0 15px;
    }
  
    &__title.title {
      font-size: 1.125rem;
      line-height: 100%;
      margin: 0 0 35px;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
  
    &__link {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 100%;
      text-decoration: none;
      color: #4B5BD7;
  
      &:hover {
        color: #D3D8FE;
  
        svg path {
          fill: #D3D8FE;
        }
      }
    }
  
    &__arrow {
      margin-left: 15px;
    }
  }
}

.projects .subtitle-wrapper, .privacy_policy-terms_of_use .subtitle-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 28px;
}

.subtitle_line {
  width: 70px;
  height: 1px;
  background: #555555;
  margin: 0 15px 0 0;
}
