* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content_max_width {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: 100%;
}

.positionStyle {
  position: inherit;
  transition: none;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.error-page h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-right: 2px solid black;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

h2,
h1 {
  margin: 20px 30px;
}

input, textarea {
  outline: none;
}

.scroll-disabled {
  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.privacy_policy-terms_of_use {
  padding: 0 135px 170px;

  @media screen and (max-width: 1439px) {
    padding: 0 5vw 135px;
  }

  @media screen and (max-width: 1023px) {
    padding: 0 4.267vw 80px;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 122%;
    letter-spacing: 0.02em;
    color:#333333;
    margin: 0 0 60px;
  }

  &__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #555555;

    &--bold {
      font-weight: 500;
      line-height: 100%;
      color: #333333;
      margin-top: 40px;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 170px 135px 170px;

  @media screen and (max-width: 1439px) {
    padding: 135px 5vw 135px;
  }

  @media screen and (max-width: 1023px) {
    padding: 80px 4.267vw 80px;
  }

  h2 {
    margin: 0 0 60px;
  }
}